<!-- Copied from Brown -->

<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="img/logo.png" alt="Meadowlark Travel logo">
        </header>
        {{{body}}}
        <p><a href="/">Home</a> <a href="/about">About</a></p>
    </body>
</html>